/* syles.css */

p {
    color: green;
}

ol {
    color: blue;
    background-color: yellow;
}

ul {
    color: red;
    background-color: yellow;

}

li {
    padding: 5px;
}

.center {
    text-align: center;
}